*
!.gitignore

!cmus/rc
!cmus/rc/**
!fish
!fish/**
!fontconfig
!fontconfig/**
!git
!git/**
!glances
!glances/**
!nvim
!nvim/**
!tmux
!tmux/**
!tig
!tig/**
!vifm
!vifm/**

elinks/bookmarks
elinks/cookies
elinks/globhist
elinks/gotohist
fish/fishd.*
git/local/config
nvim/nerdtree
nvim/plugged/
vifm/vifminfo
