*
!.gitignore

!cmus
!cmus/rc
!cmus/redbug312.theme
!fish
!fish/**
!fontconfig
!fontconfig/**
!git
!git/**
!glances
!glances/**
!nvim
!nvim/**
!tmux
!tmux/**
!tig
!tig/**
!vifm
!vifm/**
!xfce4
!xfce4/terminal
!xfce4/terminal/colorschemes
!xfce4/terminal/colorschemes/redbug312.theme

elinks/bookmarks
elinks/cookies
elinks/globhist
elinks/gotohist
fish/fishd.*
nvim/plugin/packer_compiled.vim
nvim/plugin/packer_compiled.lua
nvim/cactusbuddy/.git
vifm/vifm-help.txt
vifm/vifminfo
